<main class="col-md-12">
    <h1>Welcome to Rutwik's website!</h1>
        <h2>About Me</h2>
        <p>
            My name is Rutwik Utpalkumar Bosmia, and I am a student pursuing the BTT program. 
            I am passionate about web development and exploring the latest technologies in this field. 
            I have a keen interest in front-end development and enjoy creating visually appealing and user-friendly websites.
        </p>
        <p>
            In my free time, I love playing football and listening to music. 
            Playing football allows me to stay active and work as a team, while music helps me relax and find inspiration for my creative projects.
        </p>
</main>